/*
* Home, Page.tsx Css 모음
*/

.HomeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    
    .HomeTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding: 3px 0px;
        margin-bottom: 5px;
    };
};
