.InfoContainer {
    width: 75%;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(122, 122, 122);
}

.InfoBox {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.InfoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    border: 1.5px solid rgb(122, 122, 122);
    background-color: rgb(151, 150, 150);
}

.InfoBody {
    width: 60%;
    padding: 3px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgb(122, 122, 122);
    background-color: rgb(187, 187, 187);
}